<div class="bd-example-snippet bd-code-snippet"> <div class="bd-example m-0 border-0"> 
  <head>
    <link rel="stylesheet" href="static/style.css">
  </head>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Review</th>
              <th scope="col">Date read</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in data.items() %}
              <tr>
                <td>{{ key }}</td>
                <td>{{ value.title }}</td>
                <td>{{ value.author }}</td>
                <td>{{ value.review }}</td>
                <td>{{ value.date_read }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>