<div class="bd-example-snippet bd-code-snippet"> <div class="bd-example m-0 border-0"> 
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Review</th>
              <th scope="col">Date read</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in data.items() %}
              <tr>
                <td>{{ key }}</td>
                {% for item in value %}
                  
                  <td>{{ value.title }}</td>
                  <td>{{ value.author }}</td>
                  <td>{{ value.review }}</td>
                  <td>{{ value.date_read }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>John</td>
              <td>Doe</td>
              <td>@social</td>
            </tr>
            </tbody>
          </table> </div>  </div>